.statusBarWrapper {
  background: #ccc;
  padding: 10px
}
.statusBar {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
}
.statusOptions ul {
  margin: 0;
  padding: 0;
}
.statusOptions li {
  margin-right: 10px;
  list-style-type: none;
  display: inline-block
}
.statusOptions li button {
  margin-right: 10px;
  list-style-type: none;
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  transition: background .5s, color .5s;
  border: none;
}
.statusOptions li button:hover,
.statusOptions li button.active {
  background: #333;
  color: #fff;
  cursor: pointer;
}
.status {
  font-weight: bold;
}