.filmDescription {
  flex-grow: 3;
  flex-shrink: 0;
  flex-basis: 200px;
}
.filmContainer {
  background: rgba(0,0,0,.5);
  padding: 10px;
  color: #fff;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.imgWrap{
  width: 200px;  
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
  text-align: center;
  margin-right: 10px;
}
.filmDescription h1 {
  color: #F55263;
  margin: 5px 0;
  font-size: 50px;
}
.filmDescription h1 span{
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  margin-top: 5px;
  color: greenyellow;
  border: 1px solid greenyellow;
  border-radius: 50%;
  vertical-align: top;
  font-weight: normal;
}
.filmCategory{
  color: #ccc;
}
.fimInfo {
  padding: 0;
}
.fimInfo li {
  display: inline-block;
  list-style-type:  none;
  margin-right: 20px;
}
.filmSummary{
  line-height: 1.5em;
}
.filmAdditional {
  color: #ccc;
  font-size: .8em;
}
.filmAdditional span {
  display: block;
  margin-bottom: 10px;
}