.header {
    margin: 0 auto;
    max-width: 1000px;
}

.header nav {
    margin: 10px 0;
}
.header .siteHeader {
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 3px 15px #000;
}
.header nav li {
    margin: 0;
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    list-style-type: none;
}
.headerWrapper {
    min-height: 220px;
    background: url('/public/img/headerBg.jpg');
    padding: 10px;
    background-size: cover;
}