.buttonWhite {
    display: inline-block;
    color: #D31C1C;
    border: 1px solid #D31C1C;
    background: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    transition: color .5s, background .5s;
}
.buttonWhite:hover {
    background: #D31C1C;
    color: #fff;
    cursor: pointer;
}
.small {
    padding: 5px 10px !important;
}
.search {
    display: inline-block;
    background: #D31C1C;
    border: 1px solid #D31C1C;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    transition: color .5s, background .5s;
}
.search:hover {
    color: #D31C1C;
    background: #fff;
    cursor: pointer;
}