$redButton: #D31C1C;
$redButtonBg: #fff;

%button {
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  transition: color .5s, background .5s;
}
.buttonWhite {
  @extend %button;

  display: inline-block;
  color: $redButton;
  border: 1px solid $redButton;
  background: $redButtonBg;
}
.buttonWhite:hover,
.buttonWhiteActive {
    background: $redButton;
    color: $redButtonBg;
    cursor: pointer;
}
.small {
    padding: 5px 10px !important;
}
.search {
  @extend %button;

  display: inline-block;
  background: $redButton;
  border: 1px solid #D31C1C;
  color: $redButtonBg;
}
.search:hover,
.searchActive {
    color: $redButton;
    background: $redButtonBg;
    cursor: pointer;
}